class configure "{{ header }}" {
{% for item in dg %}    "{{ item }}" "{{ dg[item] }}"
{% endfor %}    
}
class configure "{{ header }}_ip" {
    "1.2.3.4" "Ok"
{% for item in networks %}    "{{ item }}" "Ok"
{% endfor %}    
}
