##
## Automaticly updated with git from github.com/atgse/ocp-f5-config
## Updated: {{ gitlog }}
##

when HTTP_REQUEST {

  ##
  ## Environment settings
  ##
  set ocp_dev_infranodes ocp-dev-infra-lb
  set protected_assets atgse_qa_protected

  ##
  ## Global variables
  ##
  set uri_lower [string tolower [HTTP::uri]]
  set host_lower [string tolower [getfield [HTTP::host] ":" 1]]
  set client_ip [IP::client_addr]

  ##
  ## Protected resources
  ##
  if {[class match $uri_lower starts_with $protected_assets]} {

    log local0. "Protected resource [HTTP::uri]"
    HTTP::respond 403 content "Access denied!" "Content-Type" "text/plain"

  } elseif { $host_lower eq "login.qa.hh.atg.se" } {
    set use_ssl 1
    HTTP::header replace Host "atg-service-token-handler-qa-tokenservices.ocptest.hh.atg.se"
    pool $ocp_dev_infranodes
  } elseif { $host_lower eq "login-tillsammans.qa.hh.atg.se" } {
    set use_ssl 1
    HTTP::header replace Host "tillsammans-service-token-handler-qa-tokenservices.ocptest.hh.atg.se"
    pool $ocp_dev_infranodes
  }
}
