##
## Automaticly updated with git from github.com/atgse/ocp-f5-config
## Updated: {{ gitlog }}
##
when HTTP_REQUEST {
	set DEBUG 1

	set uri_lower [string tolower [HTTP::uri]]
	set host_lower [string tolower [getfield [HTTP::host] ":" 1]]
	set client_ip [IP::client_addr]
	
	log local0. "incoming Host header: $host_lower $client_ip"
	if {[class match $host_lower eq kambi-hostheader] and [class match $client_ip eq kambi-ip]}	{ 
		log local0. "Kambi Host header: $host_lower correct"
		if {$host_lower eq "sport1-test.test.suppliers.atg.se"} { 
			HTTP::header replace Host "atg-service-gateway-kambi-test3-gateway-kambi.ocptest.hh.atg.se"
			log local0.  "New Kambi (CTS) Host header: $host_lower correct"
			pool ocp_dev_infranodes_443
		}
	    if {$host_lower eq "sport1-qa.test.suppliers.atg.se"} { 
			HTTP::header replace Host "atg-service-gateway-kambi-qa-gateway-kambi-external.ocptest.hh.atg.se" 
	   		log local0.  "New Kambi (CTN) Host header: $host_lower correct"
			pool ocp_dev_infranodes_443
	   	}
	   	if {$host_lower eq "sport1-retail-test.test.suppliers.atg.se"} { 
			HTTP::header replace Host "atg-service-retail-gateway-kambi-test3-retail-gateway-kambi.ocptest.hh.atg.se"
			log local0.  "New Retail Kambi (CTS) Host header: $host_lower correct"
			pool ocp_dev_infranodes_443
		}
	    if {$host_lower eq "sport1-retail-qa.test.suppliers.atg.se"} { 
			HTTP::header replace Host "atg-service-retail-gateway-kambi-qa-retail-gateway-kambi.ocptest.hh.atg.se" 
	   		log local0.  "New Retail Kambi (CTN) Host header:$host_lower correct"
			pool ocp_dev_infranodes_443
	   	}
	} elseif {[class match $host_lower eq evolution-hostheader ] and  [class match $client_ip eq evolution-ip]} {
		log local0. "Evolution Host header: $host_lower correct"
    	if {$host_lower eq "casino1-test.test.suppliers.atg.se" } { 
    		HTTP::header replace Host "atg-service-gateway-evolution-test3-gateway-evolution.ocptest.hh.atg.se"
    		log local0.  "New Evolution Host header: $host_lower correct"
    		pool ocp_dev_infranodes_443
    	}
    	if {$host_lower eq "casino1-qa.test.suppliers.atg.se" } { 
    		HTTP::header replace Host "atg-service-gateway-evolution-qa-gateway-evolution-external.ocptest.hh.atg.se"
    		log local0.  "New Evolution Host header: $host_lower correct"
    		pool ocp_dev_infranodes_443
    	}
	} elseif {[class match $host_lower equals netent-hostheader] and  [class match $client_ip eq netent-ip]} {
		log local0.  "NetEnt Host header: $host_lower correct"
    	if {$host_lower eq "casino2-test.test.suppliers.atg.se"} { 
    		HTTP::header replace Host "atg-service-gateway-netent-test3-gateway-netent.ocptest.hh.atg.se"
    		log local0.  "New NetEnt Host header: $host_lower correct"
    		pool ocp_dev_infranodes_443
    	}
    	if { $host_lower eq "casino2-qa.test.suppliers.atg.se" } { 
    		HTTP::header replace Host "atg-service-gateway-netent-qa-gateway-netent-external.ocptest.hh.atg.se"
    		log local0.  "New NetEnt Host header: $host_lower correct"
    		pool ocp_dev_infranodes_443
    	}
    } elseif { [class match $host_lower equals playngo-hostheader ] and  [class match $client_ip eq playngo-ip] } {
		log local0.  "playngo Host header: $host_lower correct"
    	if {$host_lower eq "casino4-test.test.suppliers.atg.se" } { 
    		#HTTP::header replace Host "atg-service-gateway-playngo-test3-gateway-playngo.ocptest.hh.atg.se"
    		HTTP::header replace Host "atg-service-gateway-playngo-qa-gateway-playngo-external.ocptest.hh.atg.se"
    		log local0.  "New playngo Host header: $host_lower correct"
    		pool ocp_dev_infranodes_443
    	}
    	if {$host_lower eq "casino4-qa.test.suppliers.atg.se" } { 
    		HTTP::header replace Host "atg-service-gateway-playngo-qa-gateway-playngo-external.ocptest.hh.atg.se"
    		log local0.  "New playngo Host header: $host_lower correct"
    		pool ocp_dev_infranodes_443
    	}
    } elseif { [class match $host_lower equals yggdrasil-hostheader ] and  [class match $client_ip eq yggdrasil-ip] } {
		log local0.  "yggdrasil Host header: $host_lower correct"
		if {$host_lower eq "casino3-test.test.suppliers.atg.se" } { 
			HTTP::header replace Host "atg-service-gateway-yggdrasil-test3-gateway-yggdrasil.ocptest.hh.atg.se"
			log local0.  "New yggdrasil Host header: $host_lower] correct"
			pool ocp_dev_infranodes_443
		}
		if {$host_lower eq "casino3-qa.test.suppliers.atg.se" } { 
			HTTP::header replace Host "atg-service-gateway-yggdrasil-qa-gateway-yggdrasil-external.ocptest.hh.atg.se"
			log local0.  "New yggdrasil Host header: $host_lower correct"
			pool ocp_dev_infranodes_443
		}
	} elseif { [class match $host_lower equals nolimitcity-hostheader ] and  [class match $client_ip eq nolimitcity-hostheader_ip] } {
		if { $DEBUG } { log local0.  "nolimitcity Host header: $host_lower correct" }
		HTTP::header replace Host [class match -value $host_lower equals nolimitcity-hostheader]
		pool ocp_dev_infranodes_443
	} elseif { [class match $host_lower equals thunder-kick-hostheader ] and  [class match $client_ip eq thunder-kick-hostheader_ip] }	{
		if { $DEBUG } { log local0.  "thunder-kick Host header: $host_lower correct" }
		HTTP::header replace Host [class match -value $host_lower equals thunder-kick-hostheader]
		pool ocp_dev_infranodes_443
	} elseif { [class match $host_lower equals elk-hostheader ] and  [class match $client_ip eq elk-hostheader_ip] } {
		if { $DEBUG } { log local0.  "elk Host header: $host_lower correct" }
		HTTP::header replace Host [class match -value $host_lower equals elk-hostheader]
		pool ocp_dev_infranodes_443
	} elseif { [class match $host_lower equals push-hostheader ] and  [class match $client_ip eq push-hostheader_ip] }	{
		if { $DEBUG } { log local0.  "push Host header: $host_lower correct" }
		HTTP::header replace Host [class match -value $host_lower equals push-hostheader]
		pool ocp_dev_infranodes_443
	} elseif { [class match $host_lower equals isoft-hostheader ] and  [class match $client_ip eq isoft-hostheader_ip] } {
		if { $DEBUG } { log local0.  "isoft Host header: $host_lower correct" }
		HTTP::header replace Host [class match -value $host_lower equals isoft-hostheader]
		pool ocp_dev_infranodes_443
	} elseif { [class match $host_lower equals omi-hostheader ] and  [class match $client_ip eq omi-hostheader_ip] } {
		if { $DEBUG } { log local0.  "omi Host header: $host_lower correct" }
		HTTP::header replace Host [class match -value $host_lower equals omi-hostheader]
		pool ocp_dev_infranodes_443
	} else {
		log local0.  "NONE: $host_lower correct"
		reject
    }
}
